/* Screen styling */
p{
    color:#000;
}

h3{
  color :#000;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190vh;
    padding: 10px 20px;
    background-color: #e3b500;
    color: white;
    border-color: #333;
    border-style: double;
}

.navbar-logo {
    font-size: 24px;
}

.navbar-links {
    display: flex;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

/* Login container styling */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 200px;
}

.header {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Input styling */
.input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #bebaba;
}

/* Button styling */
button {
    height: 50px;
    width: 95%;
    padding: 10px;
    background-color: #e3b500;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.screen{
    align-items: center;
}
/*Register Container*/
.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #dfdddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 200px;
    width: 80%;
 
}

/*Profile Container*/

.profile-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 200px;
  }

  /*ToDoList Container styling */
  .todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 200px;
  }

  /* To-do item styling */
.todo-item {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 8px;
    text-align: left;
  }
  
  .todo-title {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
  }

  /* Details view styling */
.details-view {
    width: 100%;
    margin-top: 20px;
    border-top: 2px solid #000;
    padding-top: 10px;
  }
  
  /* Edit form styling */
  .edit-form {
    width: 100%;
    margin-top: 20px;
  }
  
  .label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    width: 100%;
    color: black;
  }
  

  /* Container for form */
.addtodo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    max-width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 200px;
  }

  .textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #bebaba;
  }
  
  .textarea {
    resize: vertical;
  }

  .logout-text {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
  }
  
  .logout-text:hover {
    color: #0056b3;
  }

  .password-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 95%;
    margin: 0 auto; /* Centers the password container */
    margin-top: 10px;
  }
  
  .password-container .eye-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #555;
  }
  
  .password-container .input {
    width: 100%;
    padding-right: 40px; /* Padding to prevent overlap with the eye icon */
  }
  