.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adds uniform spacing between cards */
    justify-content: center; /* Centers the items */
    padding: 2em;
  }
  

.col-md-4 {
    padding-bottom: 5em;
    flex: 0 0 23%; /* Make each card 23% to allow for spacing */
    max-width: 23%; /* Maximum width of each card */
    margin-bottom: 20px;
    margin-right: 20px;
}


.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    
/* Space for the navbar */
}
#root {
    margin: 0 auto;
    text-align: center;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #FFFCE8;
}
